extends layout

block content
  h1.header= 'About the Owners'
  div#about
    div.each
      div.left
        img.portrait(src="images/sage.jpg")
      div.right
        p Sage Donnelly has a doctorate of the arts from North Kenwood university. She uses her talents to help launch small businesses. Some of her past successes include Microsoft, Standard Oil, The North Atlantic Railroad, and Google.
    div.each
      div.left
        img.portrait(src="images/raymond.jpg")
      div.right
        p Raymond Grady is a self-sealing stem-bolt mogul with a passion for amazing coffee. He’s put his vast stem-bolt fortune toward opening Beandust espresso. His dedication knows no bounds.
