extends layout

block content
  doctype html
  html.
    <head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    </head>
    <div class="homepage">
    <div class="name">
    <article class="box">
    <p class="title">Beandust Espresso</p>
    </article>
    <div class='logo'>
    <img src="images/beandust_logo.jpg" id='ack' border="0" >
    </div>
    </div>

    <footer>
    <nav class="home">
    <button><a href='/' type='button'>Home</a></button>
    <button><a href='/about' type='button'>About Us</a></button>
    <button><a href='/menu' type='button'>Menu</a></button>
    <button><a href='/mission' type='button'>Mission</a></button>
    <button><a href='/location' type='button'>Location</a></button>
    <button><a href='/shop' type='button'>Shop</a></button>
    <style>
      #guts {
        display: none;
        }
    </style>
    <style>
      #main {
      height: 800px;
      }
    </style>
    </footer>
    </div>
