doctype html
html
  body#layout
  nav
    button#about About
    button#location Location
    button#menu Menu
    button#mission Mission
    div#contact
      span.address 401 5th Ave
      span.hours Tues - Sun 12a-12p; Mon 4a-11a
  main
    block content
