doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#layout
  div#main
    nav#guts
      a(href='/')
        button#index Home
      a(href='about')
        button#about About Us
      a(href='menu')
        button#menu Menu
      a(href='mission')
        button#mission Misson
      a(href='location')
        button#location Location
      a(href='shop')
        button#shop Shop
      div#contact
        span.info 401 5th Ave, Seattle, Washington
        span.info Tuesday - Sunday 24 hours; Mon 4am-11pm
    article
      block content
