doctype html
html
  body#layout
  div#main
    nav
    a(href='about')
      button#about About
    a(href='location')
      button#location Location
    a(href='menu')
      button#menu Menu
    a(href='mission')
      button#mission Mission
    div#contact
      span.address 401 5th Ave
      span.hours Tues - Sun 12a-12p; Mon 4a-11a
  article
    block content
