extends layout
block content
  .pagetitle
    h1 Come Visit Us!
  .body
    a(href='https://www.google.com/maps/place/401+5th+Ave,+Seattle,+WA+98104/@47.6024841,-122.3307638,17z/data=!3m1!4b1!4m5!3m4!1s0x54906aba3f3d6de5:0x1fb437d954dcddd2!8m2!3d47.6024841!4d-122.3285751')
      img(border="0" src="images/map.png")
    p 401 5th Ave.
    p Seattle, WA 98104
    h3 Contact Us
    p 206.682.2173
    h3 Hours
    p Monday: 4am - 11pm
    p Tues - Sun: 24 hours
