extends layout

block content

  h1.header Our Menu
  .menu-container
    .menu-images
      img(border="0" src="images/cappuccino2.png")
    .menu-images
      img(border="0" src="images/espresso.png")
    .menu-item-div
      .item-container
        h2 Drinks
        p Espresso
        p Macchiato
        p Latte               
        p Cappuccino
        p Mocha
        p Americano
        p Americano Misto 
        p Cafe Au Lait 
        p Drip 
        p Tea 
        p Cocoa 
        p Chai Latte 
      .twelve-oz-price
        h2 12oz
        p 2.25
        p 3.00
        p 3.75
        p 3.75
        p 4.00
        p 2.75
        p 3.50
        p 2.75
        p 2.25
        p 2.75
        p 3.25
        p 3.50
      .sixteen-oz-price
        h2 16oz 
        p 3.00
        p 3.50
        p 4.25
        p 4.25
        p 4.50
        br 
        p 4.00
        p 3.25
        p 2.50
        br     
        p 3.75
        p 4.00