extends layout

block content

  h1.header Our Menu
  .menu-container
    .image-container
      #menu-image1
        img(border="0" src="images/cappuccino2.png")
      #menu-image2
        img(border="0" src="images/cookies2.png")
      #menu-image3
        img(border="0" src="images/espresso.png")
    .drink-menu-items
      .drink-container
        h2 Drinks
        p Espresso
        p Macchiato
        p Latte
        p Cappuccino
        p Mocha
        p Americano
        p Americano Misto
        p Cafe Au Lait
        p Drip
        p Tea
        p Cocoa
        p Chai Latte
      .twelve-oz-price
        h2 12oz
        p 2.25
        p 3.00
        p 3.75
        p 3.75
        p 4.00
        p 2.75
        p 3.50
        p 2.75
        p 2.25
        p 2.75
        p 3.25
        p 3.50
      .sixteen-oz-price
        h2 16oz
        p 3.00
        p 3.50
        p 4.25
        p 4.25
        p 4.50
        p -
        p 4.00
        p 3.25
        p 2.50
        p -
        p 3.75
        p 4.00
    .pastry-menu-items
      .pastry-container
        h2 Pastry
        p Croissant
        p Bagel
        p Danish
        p Muffin
        p Cinnamon Roll
      .pastry-price
        h2 Price
        p 2.99
        p 2.49
        p 2.99
        p 4.50
        p 5.00
      .with-extras
        h2 With Extras
        p 3.99
        p 3.49
