extends layout

block content

  h1.header Menu
  .menu-container
    .menu-images
      img(border="0" src="images/coffee.png" width="350" height="270")
    .item-container
      h2 Freshly Brewed Coffee
      p Blonde Roast
      p Dark Roast
      p Medium Roast
      p Decaf Roast
      p Iced Coffee
    .menu-images
      img(border="0" src="images/cappuccino.png" width="350" height="270")
    .item-container
      h2 Espresso
      p Caffe Americano
      p Caffe Latte
      p Caffe Mocha
      p Cappuccino
      p Caramel Macchiato
      p Espresso Macchiato
    .menu-images
      img(border="0" src="images/smoothie.png" width="350" height="270")
    .item-container
      h2 Smoothies
      p Banana Smoothie
      p Chocolate Smoothie
      p Strawberry Smoothie
      p Pineapple Smoothie
      p Blueberry Smoothie
      p Tomato Smoothie
      p Raspberry Smoothie
    .menu-images
      img(border="0" src="images/panini.png" width="350" height="270")
    .item-container
      h2 Sandwiches
      p Chicken BLT Sandwich
      p Italian-Style Ham Sandwich
      p Egg Salad Sandwich
      p Roasted Tomato & Mozzarella Panini
      p Turkey Pesto Panini
    .menu-images
      img(border="0" src="images/cookies.png" width="350" height="270")
    .item-container
      h2 Pastries & Baked Goods
      p Cheese Danish
      p Almond Croissant
      p Apple Fritter
      p Banana Nut Bread
      p Chocolate Chip Cookie
      p White Chocolate Chip Macademia Nut Cookie
      p Cinnamon Raisin Bagel
      p Double Chocolate Brownie
      p Strawberry Cake Pop
      p S'mores Bar
      p Plain Bagel
      p Sprouted Grain Bagel
      p Blueberry Scone
      p Oatmeal Cookie
      p Cinnamon Bun
      p Chocolate Croissant
