extends layout

block content
  head
    title Our Mission - Beandust Espresso
  body
    div#page-content
      h1.header Our Mission
      p.content Our customers come first. We want our customers to take part in the adventure as we explore the rainbow of coffee flavors. We treat our coffees with precision and care, from export to storage to roasting to cup. We are ambassadors for the farmers of fine quality coffees – dedicated to knowledge and its dissemination, accurate execution, caring communication, detailed service and the highest levels of excellence.
      p.content Quality coffee farmers are our partners. We form relationships with farmers we trust and deeply respect for their consistent dedication to excellence. We benefit from their hard work, attention to detail, and virtuosity – and pay accordingly, independent of the commodity market. As roasters and brewers, we are interpreters of the symphony composed by farmers interacting with nature. We strive to deliver, without overpowering, all the translucent layers of flavor inherent in great coffees.
      br
      br
      p.quote "Actually, this seems to be the basic need of the human heart in nearly every great crisis — a good hot cup of coffee."
      p.source Alexander King
      br
