extends layout

block content
  title Success!
  h1 Success!
  p Thank you for submitting your order. It will be ready for pickup in ten minutes at our store. We'll contact you at your phone number if we have any questions about the order.
