body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.portrait {
  max-width: 150px;
}

.left {
    float: left;
    width: 150px;
    height: 0;
    margin-right: 8px;
}
.right {
    float: left;
    height: 158px;
    margin-left: 158px;
}​

.each {
  padding: 10px;
}

.quote {
  text-align: center;
  font-style: italic;
}

.content {
  text-align: center;
}

.header {
  text-align: center;
}

.source {
  text-align: center;
  margin: 0;
  padding: 0
}
