body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.portrait {
  max-width: 150px;
  border-radius: 50px;
}

.left {
    float: left;
    width: 150px;
    height: 0;
    margin-right: 8px;
}
.right {
    float: left;
    height: 158px;
    margin-left: 158px;
}​

.each {
  padding: 10px;
}


#layout {
  background-image: url('../images/homepage_image.jpg');
  background-attachment: fixed;
}

div#contact {
  font-weight: bold;
}

#main {
  margin: 0 auto;
  max-width: 75%;
  background-color: hsla(31, 70%, 80%, 0.5);
  /*background-color: #FD1AA*/
  height: 1250px;
  padding: 5px 40px;
  border-radius: 15px;
}

.homepage {
  margin: 0 auto;
  max-width: 75%;
  height: 800px;
  padding: 5px 40px;
  border-radius: 15px;
}

nav {
  margin: 0 auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

nav button {
  color: white;
  width: 8%;
  height: 45px;
  background-color: #804515;
  border-radius: 10px;
  margin: 7px 10px 10px 10px;
  font-size: 200%;
  font-family: 'Dosis', sans-serif;
}

nav button:hover {
  background-color: #804515;
  color: white;
  font-family: 'Dosis', sans-serif;
}

.home {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100px;
  padding: 1rem;
  text-align: center;
}

.info {
  padding: 0 5px;
}

.quote {
  text-align: center;
  font-style: italic;
}

.content {
  text-align: center;
}

.header {
  text-align: center;
}

.source {
  text-align: center;
  margin: 0;
  padding: 0
}

.menu-container {
  width: 100%;
  position: relative;
}

.menu-images {
  border: 12px double #801515;
  display: inline-block;
  width: 350px;
  height: 270px;
  margin-left: 110px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.item-container {
  display: inline-block;
  vertical-align: top;
}

.item-container h2 {
  color: #004400;
  text-align:left;
  -webkit-text-stroke: 1px #88CC88;
}

.box {
  display: block;
  margin: 0 auto;
  background-color: #FFD1AA;
  color: #552600;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 90px;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
}
